---
import HeroLayout from '../layouts/HeroLayout.astro';
import Hero from '../components/Hero.astro'

const modifiers = ["saturate-150", "flex", "flex-col"];
const contentClasses = [
    "max-w-screen-md",
    "mx-auto",
    "flex",
    "flex-col",
    "flex-grow",
    "justify-center",
].join(" ")

---

<HeroLayout
    title="Nick Ronnei"
    header={{ transparent: false, sticky: true }}
    bgImageClass='bg-hero-pattern'
    bgModifiers={modifiers}
>
    <div class={`${contentClasses}`}>
        <div class="bg-gray-300/50 px-6">
            <h1 class="text-5xl font-bold my-4">About</h1>
            <p class="text-lg mb-4">
                This website is mostly for me, but maybe it can be useful to you, too.
            </p>
            <p class="text-lg mb-4">
                I built this as a way to keep pushing myself to learn new things, and
                as a way to practice explaining both the "what" and the "why" behind some
                of the things I've learned over the years working in tech.
            </p>
        </div>
    </div>
</HeroLayout>
