---
import HeroLayout from '../layouts/HeroLayout.astro';
import Hero from '../components/Hero.astro'

const modifiers = ["saturate-150", "flex", "flex-col"];
const contentClasses = [
    "container",
    "px-4",
    "mx-auto",
    "flex",
    "flex-col",
    "flex-grow",
    "justify-center",
].join(" ")

---

<HeroLayout title="Nick Ronnei">
    <Hero bgImageClass='bg-hero-pattern-alt' modifiers={modifiers}>
        <div class={`${contentClasses} flex flex-col justify-center text-right text-black`}>
            <h1 class="text-5xl md:text-7xl font-bold">Nick Ronnei</h1>
            <p class="text-lg">Full Stack & Cloud Engineer, Aspiring Architect</p>
        </div>
        <div class={`${contentClasses} text-white`}>
            <h2 class="text-3xl md:text-4xl font-bold">Thanks for stopping by</h2>
            <p>Check out my blog, projects, or resume.</p>
        </div>
    </Hero>
</HeroLayout>
