---
import { Link } from '../components/Link';
import HeroLayout from '../layouts/HeroLayout.astro';

const modifiers = ["saturate-150"];
const contentClasses = [
    "max-w-screen-md",
    "mx-auto",
    "flex",
    "flex-col",
    "flex-grow",
    "justify-center",
    "justify-self-center"
].join(" ")

---

<HeroLayout
    title="Nick Ronnei"
    header={{ transparent: false, sticky: true }}
    bgImageSlug="dune-and-sky"
    bgModifiers={modifiers}
>
    <div class={`${contentClasses}`}>
        <div class="bg-gray-300/50 px-6">
            <h1 class="text-5xl font-bold my-4">Resume</h1>
            <p class="text-lg mb-4">
                Check back soon for a web-based resume. In the meantime, you can
                <Link url="NicholasRonnei_Resume_2024.pdf" text="download this static one"/>
                or <a href="https://linkedin.com/in/nronnei">check me out on LinkedIn.</a>
            </p>
        </div>
    </div>
</HeroLayout>
