---
import { MainNav } from "./Navigation"
---
<html lang="en">
    <div class="w-100 dark:bg-slate-800 text-sky-400">
        <div class="md:container mx-auto flex items-center p-2">
            <div class="w-12 h-12 rounded-full bg-emerald-700 flex justify-center items-center mr-4">
                <p class="text-lg font-bold text-white">NR</p>
            </div>
            <MainNav class:list="mx-4" />
        </div>
    </div>
</html>
