---
import { Footer } from '../components/Footer';
import Hero from '../components/Hero.astro';
import Layout from './Layout.astro';

interface Props {
  title: string
  bgImageSlug: string,
  bgModifiers?: string[]
  altText?: string,
  header?: { transparent?: boolean, sticky?: boolean }
}

const { title, header = {},  bgImageSlug, bgModifiers = [] } = Astro.props;
const mergedHeader = Object.assign({}, { transparent: true, sticky: true }, header)
const mergedModifiers = mergedHeader.transparent ? bgModifiers : [...bgModifiers, "mt-8"]
---

<Layout title={title} header={mergedHeader}>
  <main>
    <Hero bgImageSlug={bgImageSlug} modifiers={mergedModifiers}>
      <slot />
      <Footer />
    </Hero>
  </main>
</Layout>
