---
import { Footer } from '../components/Footer';
import Header from '../components/Header.astro';
import Layout from './Layout.astro';

interface Props {
  title: string
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div>
    <Header transparent={true} sticky={true}/>
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</Layout>
